# the git folder will be uncommented in TC, this is used only for local docker build, don't change this line
#**/.git
**/.vs
**/.vscode
**/.idea
**/.github
**/.editorconfig
**/.ci
**/*.bat
**/*.example
**/*.slnf
**/*.user
**/.sass-cache
**/*.DotSettings
**/Thumbs.db
*.yml
**/Dockerfile*
**/Dockerfile
*.md
**/obj
**/.gitignore
**/*.log
artifacts/**
**/node_modules
**/jspm_packages

!artifacts/bin/**
**/vsdbg/
